body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.gameContainer {
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpaperaccess.com/full/8225597.png");
  background-size:cover;
}

.welcome {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
}

.gameSwitch {
  min-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.japankuru.com/prg_img/img/img2020080609340194698800.jpg");
  background-size:cover;
}

.card {
  max-width: 300px;
  max-height: 220px;
  border-radius: 10px;
  background-color: rgb(227, 227, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  font-size: 18px;
  color: white;
  background-color: #08061eb3;
}

.card:hover {
  transform:scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 5px -1px,rgba(255, 254, 254, 0.14) 0 6px 10px 0,rgba(255, 255, 255, 0.12) 0 1px 18px 0;
}

img {
  width: 300px;
  max-height: 150px;
  border-radius: 10px;
}

p {
  margin: 3px;
  display: flex;
  justify-content: space-between;
}

input {
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
}

.scoreBoard {
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px;
  color: white;
  height: 140px;
  width: 300px;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px;
  color: white;
  background-color: #08061e0f;
}

button:hover {
  background-color: #611d92d0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 5px -1px,rgba(255, 254, 254, 0.14) 0 6px 10px 0,rgba(255, 255, 255, 0.12) 0 1px 18px 0;
}


/* Header - Footer */
#header {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 600;
  justify-content: space-between;
}

.main {
  background-color: #08061e;
  height: 150px;
  color: rgb(241, 241, 241);
  font-size: 100px;
}

.navBar {
  background-color: #08061e;
  color: rgb(241, 241, 241);
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: 82% 9% 9%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: #08061e;;
  height: 100px;
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 100;
}
/* Header - Footer */