body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.gameContainer {
  min-height: 75vh;
}

.card {
  max-width: 250px;
  min-height: 250px;
  border-radius: 10px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 250px;
  min-height: 245px;
  border-radius: 10px;
}


/* Header - Footer */
#header {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 5%;
  font-weight: 600;
}

.main {
  background-color: #1d2d3a;
  height: 150px;
  color: rgb(241, 241, 241);
  font-size: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: #1d2d3a;
  height: 100px;
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 100;
}
/* Header - Footer */