body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.gameContainer {
  min-height: 75vh;
}

.card {
  max-width: 250px;
  max-height: 220px;
  border-radius: 10px;
  background-color: rgb(227, 227, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

img {
  max-width: 250px;
  min-height: 180px;
  border-radius: 10px;
}


/* Header - Footer */
#header {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 5%;
  font-weight: 600;
}

.main {
  background-color: #1d2d3a;
  height: 150px;
  color: rgb(241, 241, 241);
  font-size: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: #1d2d3a;
  height: 100px;
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 100;
}
/* Header - Footer */